/* Button search */

.contenitore {
	position: relative;
	top: 10px;
	left: 40%;
	right: 0;
	bottom: 0;
	width: 300px;
	height: 100px;
  }
@media screen and (max-width: 560px){
    .contenitore{
        left: 20%;
    }
}
  .searche {
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: 80px;
	  height: 80px;
	  background: var(--c);
	  border-radius: 50%;
	  transition: all 1s;
	  z-index: 4;
	  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
	  box-shadow: 0 0 25px 0 var(--c);
	  }
 
	  .searche:hover {
		cursor: pointer;
	  }

	  .searche:before {
		content: "";
		position: absolute;
		margin: auto;
		top: 22px;
		right: 0;
		bottom: 0;
		left: 22px;
		width: 12px;
		height: 2px;
		background: white;
		transform: rotate(45deg);
		transition: all 0.5s;
	  }
	 
	 
	  .searche:after {
		content: "";
		position: absolute;
		margin: auto;
		top: -5px;
		right: 0;
		bottom: 0;
		left: -5px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 2px solid white;
		transition: all 0.5s;
	  }
	
	.input {
	  font-family: 'Inconsolata', monospace;
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: 50px;
	  height: 50px;
	  outline: none;
	  border: none;
	  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	  background: var(--c);
	  color: white;
	  text-shadow: 0 0 10px var(--c);
	  padding: 0 80px 0 20px;
	  border-radius: 30px;
	  box-shadow: 0 0 25px 0 var(--c),
				  0 20px 25px 0 rgba(0, 0, 0, 0.2);
	  box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
	  transition: all 1s;
	  opacity: 0;
	  z-index: 5;
	  font-weight: bolder;
	  letter-spacing: 0.1em;
  
	}
	  
	  
	  
	  .contenitore .input:hover {
		cursor: pointer;
	  }
	  
	  
	  .contenitore .input:focus {
		width: 300px;
		opacity: 1;
		cursor: text;
	  }
	 
	 
	  .contenitore .input:focus ~ .search {
		right: -250px;
		background: #151515;
		z-index: 6;
	  }
	   
	   .contenitore .input::before {
		  top: 0;
		  left: 0;
		  width: 25px;
		}
		
		
		.contenitore .input::after {
		  top: 0;
		  left: 0;
		  width: 25px;
		  height: 2px;
		  border: none;
		  background: white;
		  border-radius: 0%;
		  transform: rotate(-45deg);
		}
	  
	  .contenitore .input::placeholder {
		color: white;
		opacity: 0.5;
		font-weight: bolder;
	  }
/*   
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  } */

.btnDetail{
    background-color: var(--s);
    border: 2px solid var(--d);
    color: var(--c);
    text-transform: uppercase;
    border-radius: 15px;
}
.btnDetail:hover{
    color: var(--d);
    background-color: var(--c);
    border: 2px solid var(--a);
}
.btnDetail2{
    background-color: var(--i);
    border: 2px solid var(--d);
    color: var(--e);
    text-transform: uppercase;
    border-radius: 15px;
}
.btnDetail2:hover{
    color: var(--s);
    background-color: var(--z);
    border: 2px solid var(--p);
}
.btnDetail3{
	
    background-color: var(--p);
    border: 2px solid var(--d);
    color: var(--a);
    text-transform: uppercase;
    border-radius: 15px;
}
.btnDetail3:hover{
    color: var(--a);
    background-color: var(--r);
    border: 2px solid var(--a);
}
.marginBtn{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.cardColor{
    background-color: var(--s);
    box-shadow: 2px 2px 2px 2px var(--d);
    
}
.titleCard{
    color: var(--c);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.card-text{
    color: var(--g);
    text-shadow: 1px 1px var(--d);
}
.priceCard{
    display: flex;
    justify-content: center;
}

.searchStyle{
	width: 70%;
	background-color: var(--c);
	border-radius: 20px;
}
/* Button 27 */

/* @import "compass/css3"; */
 
 a {
	 color: inherit;
}

 .menu {
	 filter: url('#shadowed-goo');
}
 .menu-item, .menu-open-button {
	 background: #00bcd4;
	 border-radius: 100%;
	 width: 80px;
	 height: 80px;
	 margin-left: -40px;
	 position: absolute;
	 top: 20px;
	 color: white;
	 text-align: center;
	 line-height: 80px;
	 transform: translate3d(0, 0, 0);
	 transition: transform ease-out 200ms;
}
 .menu-open {
	 display: none;
}
 .hamburger {
	 width: 25px;
	 height: 3px;
	 background: white;
	 display: block;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-left: -12.5px;
	 margin-top: -1.5px;
	 transition: transform 200ms;
}
 .hamburger-1 {
	 transform: translate3d(0, -8px, 0);
}
 .hamburger-2 {
	 transform: translate3d(0, 0, 0);
}
 .hamburger-3 {
	 transform: translate3d(0, 8px, 0);
}
 .menu-open:checked + .menu-open-button .hamburger-1 {
	 transform: translate3d(0, 0, 0) rotate(45deg);
}
 .menu-open:checked + .menu-open-button .hamburger-2 {
	 transform: translate3d(0, 0, 0) scale(0.1, 1);
}
 .menu-open:checked + .menu-open-button .hamburger-3 {
	 transform: translate3d(0, 0, 0) rotate(-45deg);
}
 .menu {
	 position: absolute;
	 left: 50%;
	 margin-left: -80px;
	 padding-top: 20px;
	 padding-left: 80px;
	 width: 650px;
	 height: 150px;
	 box-sizing: border-box;
	 font-size: 20px;
	 text-align: left;
}
 .menu-item:hover {
	 background: white;
	 color: #00bcd4;
}
 .menu-item:nth-child(3) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(4) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(5) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(6) {
	 transition-duration: 180ms;
}
 .menu-open-button {
	 z-index: 2;
	 transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	 transition-duration: 400ms;
	 transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	 cursor: pointer;
}
 .menu-open-button:hover {
	 transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
 .menu-open:checked + .menu-open-button {
	 transition-timing-function: linear;
	 transition-duration: 200ms;
	 transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
 .menu-open:checked ~ .menu-item {
	 transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
 .menu-open:checked ~ .menu-item:nth-child(3) {
	 transition-duration: 190ms;
	 transform: translate3d(110px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(4) {
	 transition-duration: 290ms;
	 transform: translate3d(220px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(5) {
	 transition-duration: 390ms;
	 transform: translate3d(330px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(6) {
	 transition-duration: 490ms;
	 transform: translate3d(440px, 0, 0);
}
 



/* header section */

.iframely-embed {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 50;
}
 #app {
	 z-index: 100;
}

 #app {
	 display: grid;
	 align-items: center;
	 padding-bottom: 4vmin;
	 height: 75vh;
	 width: 100%;
	 background: var(--e);
	 color: var(--i);
}
.titletle{
	 display: grid;
	 padding: 3vmin;
	 background: var(--p);
}
 .title {
	 padding-left: 1em;
	 grid-column: -1;
	 grid-row: 1;  
	 font-size: 8vw;
	 width: 98%;
	 z-index: 2;
}
 .title > .title-inner {
	 display: inline-block;
}
 @keyframes text-clip {
	 from {
		 clip-path: polygon(0% 50%, 100% 100%, 100% 100%, 0% 100%);
	}
	 to {
		 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
 @keyframes outer-left {
	 from {
		 transform: translateX(74%);
	}
	 to {
		 transform: none;
	}
}
 @keyframes inner-left {
	 from {
		 transform: translateX(-50%);
	}
	 to {
		 transform: none;
	}
}
 .cafe, .mozart {
	 animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}
 .title-inner {
	 display: inline-block;
	 animation: inner-left 1s 1s ease both;
}
 .cafe-inner {
	 display: inline-block;
	 animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
 .mozart-inner {
	 animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
 .title {
	 animation: outer-left 1s 1s ease both;
}
 .cafe > .cafe-inner {
	 display: inline-block;
}
 .mozart {
	 display: inline-block;
}
 .image {
	 grid-row: 1;
	 grid-column: 2;
	 margin-left: -2rem;
	 opacity: 0.9;
	 animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
 @keyframes image-in {
	 from {
		 clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	 to {
		 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
 .image img {
	 display: block;
	 width: 100%;
	 height: auto;
}
.titletle:active * {
	 animation: none !important;
}

.arrowCustom{
  color: var(--p);

}
@keyframes jump {
  0% {transform: translateY(10px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(10px);}
}
.arrowCustom{
  animation: jump infinite;
  animation-duration: 1s;
}