*{
    font-family: 'Montserrat', sans-serif;
}
h1 h2 h3 h4 h5 .h1 .h2 .h3 .h4 .h5{
    font-family: 'Raleway', sans-serif;
}
:root{
    --b: #042183;  
    --c: #1665C1; 
    --a: #E5DACC; 
    --e: #ebdac5; 
    --d: #CABAA3;
    --s: #f6ddba; 
    --g: rgb(92, 91, 91);
    --p: rgb(220, 181, 142);
    --swiper-navigation-size: 18px !important;   
    --z: rgb(126, 189, 106);    
    --f: #005A87;
    --i: #00848F;
    --r: #f65e53;




}
h1{
    color: var(--f);
    font-weight: bold;
    text-shadow: var(--f);
    text-transform: uppercase;
}

h2{
    color: var(--f);
    font-weight: bold;
    text-shadow: var(--f);
    text-transform: uppercase;
}
h3{
    color: var(--f);
    font-weight: bold;
    font-size: 18px;
    text-shadow: var(--f);
    text-transform: uppercase;
}

/* body */
body{
    overflow-x: hidden !important;
    background-color: var(--a);
}
html {
    overflow-x: hidden !important;
}

/* navbar custom */
/* LA MEDIA SCREEN PER TRANSITION DEL TESTO */
/* @media screen and (max-width: 950px){
    .nav-item:hover{
        transform: translateX(85px);
        text-shadow: 2px 0px 2px var(--d);
        font-weight: bold;
        transition: 0.4s;
        transition-duration: 0.6s;
        border: 1px solid rgb(92, 91, 91);
    }
} */
.noGrow{
    flex-grow: 0 !important;
}

.iconNavbar{
    height: 70px;
    /* width: 120px;*/
}
@media screen and (max-width: 1000px){
    .bubblePosition{
        left: 35%;
        top: -45px;
    }
}
@media screen and (max-width: 760px){
    .bubblePosition{
        left: 45%;
        top: -45px;
    }
}
@media screen and (max-width: 510px){
    .bubblePosition{
        left: 50%;
        top: -45px;
    }
}
.benvCustom{
    margin: 0px;
    margin-right: 10px;
    color: var(--d);
}

.textAncor{
    color: var(--d);
}
.textAncor:hover{
    color: var(--a);
}
.dropdownCustom{
    height: 130px;
    width: 200px;
}
.navbarCustom{
    background: linear-gradient(90deg, var(--c), var(--b), var(--c));
}
/* bubble window */
.iconDropdown{
    height: 40px;
    transition: 1s;
}
.bubble {
    position: absolute;
    z-index: 100000;
    margin-top: 7px;
    margin-left: -133px;
    background: linear-gradient(45deg, #51eded, #cce6e6, #51eded);
    font-size: 14px;
    line-height: 54px;
    box-shadow: 0px 7px 7px 2px #3167db;
    text-align: center;
    width: 210px;
    height: 180px;
    border-radius: 41px;
    padding: 0px;
    text-decoration: none;
    opacity: 0;
    transition: 0.4s;
}
.bubbleList{
    text-decoration: none;
    color: var(--a);
    text-transform: uppercase;
    transition: 0.6s;
}
.bubbleList:hover{
    text-decoration: none;
    color: var(--b);
    transition: 0.6s;
    
}
.bubble2{
    opacity: 1;
}
.list1{
    border: 1px solid var(--b);
    background-color: #4e82eb;
    border-top-left-radius: 41px;
    border-top-right-radius: 41px;
    box-shadow: 3px 1px 1px var(--b);
}
.list1:hover{
    background: rgba(229, 246, 244, 0.5);
    transition: 0.6s;
}
.list2{
    border: 1px solid var(--b);
    background: #4673cc;
    box-shadow: 3px 1px 1px var(--c);
}
.list2:hover{
    background: rgba(229, 246, 244, 0.5);
    transition: 0.6s;
}
.list3{
    border: 1px solid var(--b);
    background: var(--c);
    box-shadow: 1px 1px 3px var(--c);
    border-bottom-left-radius: 41px;
    border-bottom-right-radius: 41px;
}
.list3:hover{
    background: rgba(229, 246, 244, 0.5);
    transition: 0.6s;
}


/* form registrati */

.registration-form{
    padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
	text-align: center;
    background-color: var(--c);
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--c);
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: var(--b);
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

/* header */

/* .header-custom{
    padding: 10px;
    background-image: url(/img/ecommerce.jpg);
    width: 100%; 
    height: 600px; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* Card Section */
@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}

.immagine{
    width: 60%;
    height: 100%;
}
@media screen and (max-width: 700px){
    .immagine{
        width: 40%;
        height: 100%;
    }
}
@media screen and (max-width: 900px){
    .immagine{
            width: 40%;
            height: 100%;
    }
}


.imgCustom{
    height: 150px;
    width: auto;
}

/* NewsLetterSection */
.registerLetter{
    height: 50%;
    text-align: center;
    padding: 10px;
    border: 2px solid var(--d);
    background-color: var(--d);
    box-shadow: 2px 3px 2px 2px var(--a);
}
.btn-theme{
    border: 2px solid var(--d);
    border-radius: 15%;
    background-color: var(--d);
    color: var(--a);
}
.btn-theme:hover{
    background-color: var(--a);
    color: var(--c);
}

/* Icon Section */
.spaceIcon{
    color: var(--i);
}
.textIcon{
    border: var(--f);
    border-style: dotted;
    color: var(--g);
}

/* footer */

.textMain{
    text-decoration: none;
    color: var(--d);
}
.textMain:hover{
    color: var(--a);
}
.textColor{
    color: var(--a);
}

.barraSp{
    height: 1px;
    width: 100%;
    background-color: var(--c);
    border-radius: 10px;
}

.cardBody{
    border-radius: 0px 0px 15px 15px;
    background-color: #5891ff;
}
.textColor2{
    color: var(--a);
    text-shadow: 1px 1px var(--a);
}
.iconSocial{
    color: var(--d );
    display: flex;
    justify-content: space-between;
}
.iconSocial2:hover{
    color: var(--a); 
}
.footerBody{
    border-radius: 0px 0px 15px 15px;
    background-color: var(--c);
}
.copyright{
    margin-top: 20px;
}
.btnSearch{
    display: flex;
    background-color: var(--s);
    border: 2px solid var(--d);
    color: var(--c);
    text-transform: uppercase;
    border-radius: 15px;
}
.btnSearch:hover{
    color: var(--d);
    background-color: var(--a);
    border: 2px solid var(--a);
}
.marginFooter{
    margin-top: 50px;
}

/* form Inserisci un annuncio */
.formCustom{
  background-color: var(--c);
  border-radius: 25px;
}
.formCustom1{
    color: var(--p);
    text-shadow: 1px 2px 3px var(--g);
}
.formImg{
    border-radius: 35px;
    height: 90%;
    width: 90%;
    display: flex;
  }
.listSquare{
    list-style-type: square;
}
.radiusForm{
    border-radius: 15px;
    border: var(--p);
    background-color: var(--e);
    color: var(--g);
    width: 95%;
}
.radiusForm:focus{
    background-color: var(--d);
    color: var(--c);
    border: 2px solid var(--g);
}
.categoryCustom{
    background-color: var(--s);
    color: var(--g);
    border-radius: 15px;
}
.categoryCustom2{
    background-color: var(--s);
    opacity: 0.7;
}
.dropzone{
    background-color: var(--s) !important;
    color: var(--g) !important;
    border-radius: 15px;
}
.textAnnunc{
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 1px 3px var(--f);
    color: var(--c);
}
.textAnnunc2{
    color: var(--g);
    display: flex;
    justify-content: center;
    text-align: center;
}
/* Togliere bord focus navbar */

.navbar-toggler:focus{
    /* box-shadow:0px transparent !important; */
    box-shadow: 0 0 0 0rem;
}


/* Puntini vicino alle bandierine */

.flag-dots{
    list-style-type: none;
}







